h1{
	color: lightblue;
	font-family: verdana;
	font-size: 20px;
}

li:first-child {
	background: #ADD8E6;
	color: #9ACD32;
}

li:last-child {
	background: #ADD8E6;
	color: #9ACD32;
}

li:nth-child(2) {
	background: #ADD8E6;
	color: #9ACD32;
}

