
p {
	font-family: Verdana;
	font-size: 14px;
	color: #1E90FF;
	font-weight: normal;
	text-align: justify;
	line-height: 200%;
	/*word-spacing: 2px;*/
	/*letter-spacing: 3px;*/
}

h1 {
	color: #7B68EE;
}






