
body {
	background: rgb(30, 110, 65);
}

h1 {
	font-family: verdana;
	font-size: 20px;
	background: rgba(0, 0, 0, 0.5);
	color: hsl(120, 100%, 50%);
	border: 5px double rebeccapurple;
	opacity: .6;
}

/*
Cores
Tipo Descricão Exemplo
RGB Valores de vermelho, verde e azul de 0 a 255 rgb(122, 65, 253)
RGBA RGB com canal alpha rgba(122, 65, 253, .5)
Hexadecimal Valores de vermelho, verde e azul de 00 a FF #35F2BC
Hexadecimal + A Hexadecimal com canal alpha #35F2BC23
HSL Cor definida pela matiz, saturação e brilho hsl(90, 100%, 50%)
HSLA HSL com canal alpha hsla(240, 100%, 50%, .4)
*/


